<a href="https://colab.research.google.com/github/SALRIGO/pdm04/blob/main/py-pandas/pandas_1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab

## [1] Make data: Series, and DataFrame
> pandas의 데이터 구조
- Series
- DataFrame

### Series
> 1차원 데이터

In [2]:
# Creating a Series by passing a list of values
s = pd.Series([1,3,5,np.nan,6,8,'you']) # 숫자가 없는 값을 nan으로 정의
s

0      1
1      3
2      5
3    NaN
4      6
5      8
6    you
dtype: object

In [3]:
type(s)

pandas.core.series.Series

In [5]:
# s.info() # info() 는 데이터 프레임엔 사용 가능하고 시리즈에는 사용 불가

In [9]:
# indexing & slicing of series
s[0],s[:3],s[-1:]

(1, 0    1
 1    3
 2    5
 dtype: object, 6    you
 dtype: object)

### 1차원 series의 용도
- 2차원 데이터프레임의 열을 구성

In [10]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [11]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [16]:
# Make dataframe using an array with random numbers
df = pd.DataFrame(np.random.randn(6,4), columns=list('ABCD'), index=dates)
df

                   A         B         C         D
2021-09-27  0.536651  1.914138  1.870139  2.060683
2021-09-28  1.191520 -0.328555  0.091812  0.666203
2021-09-29  0.241034 -0.667655 -1.181398  0.484551
2021-09-30 -0.724996 -1.796209 -1.763383  0.158267
2021-10-01 -0.379352 -0.438316 -2.027138  0.248383
2021-10-02 -1.201993  0.141390  0.422586  0.598151

In [15]:
df = pd.DataFrame(np.random.randn(6,4), columns=list('ABCD')) # index = dates를 포함시켜야 날짜 출력
df

          A         B         C         D
0  0.690363 -0.963216  1.881308 -0.595812
1  0.689025  1.107467  1.675093  0.857441
2 -0.569245  0.127698  1.148217  0.766752
3 -0.078979 -0.338403  0.223655 -0.050271
4  0.002306  1.863600 -0.096417 -0.451454
5 -0.475841 -0.042235 -1.147235 -0.286735

In [17]:
# check types of df  --> same type
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [18]:
type(df)

pandas.core.frame.DataFrame

### 데이터프레임 (DataFrame)
- 2차원 데이터
- 다차원 데이터

In [22]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({ 'A' : 1., 
                    'B' : pd.Timestamp('20191129'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [23]:
df2

     A          B    C  D      E    F
0  1.0 2019-11-29  1.0  3   test  foo
1  1.0 2019-11-29  1.0  3  train  foo
2  1.0 2019-11-29  1.0  3   test  foo
3  1.0 2019-11-29  1.0  3  train  foo

In [24]:
# check types of df2 --> different types
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [25]:
type(df2)

pandas.core.frame.DataFrame



---