<a href="https://colab.research.google.com/github/SALRIGO/pdm04/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(6)

                   A         B         C         D
2021-09-27  1.404640 -0.678375  1.850967 -0.523117
2021-09-28 -0.277182  2.183593 -0.526638  0.223245
2021-09-29 -1.011975 -0.574493  0.844860  2.795800
2021-09-30 -0.186997 -0.417347  0.492464  1.505712
2021-10-01  0.433746  0.457457  0.663712 -0.247545
2021-10-02 -0.590432 -0.078160 -0.081889  2.074946

In [8]:
df.head(2)

                   A         B         C         D
2021-09-27  1.404640 -0.678375  1.850967 -0.523117
2021-09-28 -0.277182  2.183593 -0.526638  0.223245

In [9]:
df.tail(3)

                   A         B         C         D
2021-09-30 -0.186997 -0.417347  0.492464  1.505712
2021-10-01  0.433746  0.457457  0.663712 -0.247545
2021-10-02 -0.590432 -0.078160 -0.081889  2.074946

In [10]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns  # 열의 이름

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [14]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.038033  0.148779  0.540579  0.971507
std    0.852874  1.078430  0.818975  1.349880
min   -1.011975 -0.678375 -0.526638 -0.523117
25%   -0.512120 -0.535206  0.061699 -0.129847
50%   -0.232089 -0.247754  0.578088  0.864479
75%    0.278560  0.323552  0.799573  1.932638
max    1.404640  2.183593  1.850967  2.795800

In [15]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0 -0.038033  0.852874 -1.011975 -0.512120 -0.232089  0.278560  1.404640
B    6.0  0.148779  1.078430 -0.678375 -0.535206 -0.247754  0.323552  2.183593
C    6.0  0.540579  0.818975 -0.526638  0.061699  0.578088  0.799573  1.850967
D    6.0  0.971507  1.349880 -0.523117 -0.129847  0.864479  1.932638  2.795800

In [16]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A    1.404640   -0.277182   -1.011975   -0.186997    0.433746   -0.590432
B   -0.678375    2.183593   -0.574493   -0.417347    0.457457   -0.078160
C    1.850967   -0.526638    0.844860    0.492464    0.663712   -0.081889
D   -0.523117    0.223245    2.795800    1.505712   -0.247545    2.074946

In [17]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [24]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)  # ascendinng =  False시 최근순으로 정렬

(                   A         B         C         D
 2021-09-27  1.404640 -0.678375  1.850967 -0.523117
 2021-09-28 -0.277182  2.183593 -0.526638  0.223245
 2021-09-29 -1.011975 -0.574493  0.844860  2.795800
 2021-09-30 -0.186997 -0.417347  0.492464  1.505712
 2021-10-01  0.433746  0.457457  0.663712 -0.247545
 2021-10-02 -0.590432 -0.078160 -0.081889  2.074946,
                    A         B         C         D
 2021-10-02 -0.590432 -0.078160 -0.081889  2.074946
 2021-10-01  0.433746  0.457457  0.663712 -0.247545
 2021-09-30 -0.186997 -0.417347  0.492464  1.505712
 2021-09-29 -1.011975 -0.574493  0.844860  2.795800
 2021-09-28 -0.277182  2.183593 -0.526638  0.223245
 2021-09-27  1.404640 -0.678375  1.850967 -0.523117)

In [19]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27  1.404640 -0.678375  1.850967 -0.523117
 2021-09-28 -0.277182  2.183593 -0.526638  0.223245
 2021-09-29 -1.011975 -0.574493  0.844860  2.795800
 2021-09-30 -0.186997 -0.417347  0.492464  1.505712
 2021-10-01  0.433746  0.457457  0.663712 -0.247545
 2021-10-02 -0.590432 -0.078160 -0.081889  2.074946,
                    D         C         B         A
 2021-09-27 -0.523117  1.850967 -0.678375  1.404640
 2021-09-28  0.223245 -0.526638  2.183593 -0.277182
 2021-09-29  2.795800  0.844860 -0.574493 -1.011975
 2021-09-30  1.505712  0.492464 -0.417347 -0.186997
 2021-10-01 -0.247545  0.663712  0.457457  0.433746
 2021-10-02  2.074946 -0.081889 -0.078160 -0.590432)

#### Sort by value
- sort_values(by='column')

In [25]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)   # B 열을 기준으로 데이터 프레임의 구조가 재정렬됨

(                   A         B         C         D
 2021-09-27  1.404640 -0.678375  1.850967 -0.523117
 2021-09-28 -0.277182  2.183593 -0.526638  0.223245
 2021-09-29 -1.011975 -0.574493  0.844860  2.795800
 2021-09-30 -0.186997 -0.417347  0.492464  1.505712
 2021-10-01  0.433746  0.457457  0.663712 -0.247545
 2021-10-02 -0.590432 -0.078160 -0.081889  2.074946,
                    A         B         C         D
 2021-09-27  1.404640 -0.678375  1.850967 -0.523117
 2021-09-29 -1.011975 -0.574493  0.844860  2.795800
 2021-09-30 -0.186997 -0.417347  0.492464  1.505712
 2021-10-02 -0.590432 -0.078160 -0.081889  2.074946
 2021-10-01  0.433746  0.457457  0.663712 -0.247545
 2021-09-28 -0.277182  2.183593 -0.526638  0.223245)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [29]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27    1.404640
2021-09-28   -0.277182
2021-09-29   -1.011975
2021-09-30   -0.186997
2021-10-01    0.433746
2021-10-02   -0.590432
Freq: D, Name: A, dtype: float64

In [30]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27  1.404640 -0.678375  1.850967 -0.523117
2021-09-28 -0.277182  2.183593 -0.526638  0.223245
2021-09-29 -1.011975 -0.574493  0.844860  2.795800

In [31]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27  1.404640 -0.678375  1.850967 -0.523117
2021-09-28 -0.277182  2.183593 -0.526638  0.223245
2021-09-29 -1.011975 -0.574493  0.844860  2.795800
2021-09-30 -0.186997 -0.417347  0.492464  1.505712
2021-10-01  0.433746  0.457457  0.663712 -0.247545

#### Selecting data by label [중요!!]

> **loc, iloc**

In [32]:
df

                   A         B         C         D
2021-09-27  1.404640 -0.678375  1.850967 -0.523117
2021-09-28 -0.277182  2.183593 -0.526638  0.223245
2021-09-29 -1.011975 -0.574493  0.844860  2.795800
2021-09-30 -0.186997 -0.417347  0.492464  1.505712
2021-10-01  0.433746  0.457457  0.663712 -0.247545
2021-10-02 -0.590432 -0.078160 -0.081889  2.074946

In [33]:
dates[0]

Timestamp('2021-09-27 00:00:00', freq='D')

In [34]:
df.loc[dates[0]]   # loc()

A    1.404640
B   -0.678375
C    1.850967
D   -0.523117
Name: 2021-09-27 00:00:00, dtype: float64

In [35]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27  1.404640 -0.678375
2021-09-28 -0.277182  2.183593
2021-09-29 -1.011975 -0.574493
2021-09-30 -0.186997 -0.417347
2021-10-01  0.433746  0.457457
2021-10-02 -0.590432 -0.078160

#### [DIY: 도전코딩]
##개념 이해 중요
####loc 함수에서는 정수 인덱스가 아닌 value 인덱스만 사용가능
> Select data for first two days AND column 3,4 from df using loc[].

In [41]:
# df.loc[0:2,['C','D']] #loc 함수에서는 정수 인덱스가 아닌 value 인덱스만 사용가능
# df.loc['20210927':'20210928',['C','D']]
df.loc[dates[:2],['C','D']]

# 필기시험시 중간고사에 A,B,C,D로 하여 위의 내용이 나올수도 있음

                   C         D
2021-09-27  1.850967 -0.523117
2021-09-28 -0.526638  0.223245

#### Selecting data by position (iloc())
- index 사용

In [42]:
df

                   A         B         C         D
2021-09-27  1.404640 -0.678375  1.850967 -0.523117
2021-09-28 -0.277182  2.183593 -0.526638  0.223245
2021-09-29 -1.011975 -0.574493  0.844860  2.795800
2021-09-30 -0.186997 -0.417347  0.492464  1.505712
2021-10-01  0.433746  0.457457  0.663712 -0.247545
2021-10-02 -0.590432 -0.078160 -0.081889  2.074946

In [43]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A   -0.186997
B   -0.417347
C    0.492464
D    1.505712
Name: 2021-09-30 00:00:00, dtype: float64

##중요

In [50]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc  
# 다음 중 결과를 출력하지 못하는것은 무엇인가? 식으로 출제할수 있음
# df[:2,2:4]    #iloc을 사용하지 않을 경우 오류 발생
df.iloc[:2,2:4]

                   C         D
2021-09-27  1.850967 -0.523117
2021-09-28 -0.526638  0.223245

In [46]:
# Select one item
df.iloc[1,1]

2.183593081898078

In [48]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27  1.404640 -0.678375  1.850967 -0.523117
2021-09-28 -0.277182  2.183593 -0.526638  0.223245
2021-09-29 -1.011975 -0.574493  0.844860  2.795800

#### Selecting data by Boolean indexing

In [51]:
df

                   A         B         C         D
2021-09-27  1.404640 -0.678375  1.850967 -0.523117
2021-09-28 -0.277182  2.183593 -0.526638  0.223245
2021-09-29 -1.011975 -0.574493  0.844860  2.795800
2021-09-30 -0.186997 -0.417347  0.492464  1.505712
2021-10-01  0.433746  0.457457  0.663712 -0.247545
2021-10-02 -0.590432 -0.078160 -0.081889  2.074946

In [55]:
df.A > 0

2021-09-27     True
2021-09-28    False
2021-09-29    False
2021-09-30    False
2021-10-01     True
2021-10-02    False
Freq: D, Name: A, dtype: bool

In [52]:
# 인덱스를 대괄호로 지정
df[df.A > 0]    # True가 되는 값만 뽑아 냄

                   A         B         C         D
2021-09-27  1.404640 -0.678375  1.850967 -0.523117
2021-10-01  0.433746  0.457457  0.663712 -0.247545

In [59]:
df > 0

                A      B      C      D
2021-09-27   True  False   True  False
2021-09-28  False   True  False   True
2021-09-29  False  False   True   True
2021-09-30  False  False   True   True
2021-10-01   True   True   True  False
2021-10-02  False  False  False   True

In [58]:
df[df > 0]  # True가 되는 값만 뽑아 냄

                   A         B         C         D
2021-09-27  1.404640       NaN  1.850967       NaN
2021-09-28       NaN  2.183593       NaN  0.223245
2021-09-29       NaN       NaN  0.844860  2.795800
2021-09-30       NaN       NaN  0.492464  1.505712
2021-10-01  0.433746  0.457457  0.663712       NaN
2021-10-02       NaN       NaN       NaN  2.074946